*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.vscode/
.idea/
.DS_Store
*.log

# Hassas veriler, veritabanı ve büyük veri dosyaları
.env
*.csv
*.sql
*.xlsx
*.parquet

# Qdrant Vektör Veritabanı Lokal Dizini
qdrant_local_db/