*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main
__pycache__/
.vscode/
.idea/
.DS_Store
*.log

# Hassas veriler, veritabanı ve büyük veri dosyaları
.env
*.csv
*.sql
*.xlsx
*.parquet

# Qdrant Vektör Veritabanı Dizinleri
qdrant_local_db/
qdrant_docker_db/

# Test ve Coverage Çıktıları
coverage/